@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 50vh;
  /* border: 1px solid green; */
}

span.second-text {
  color: brown;
  font-weight: 600;
}

span.second-text::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 50px;
  background-color: rgb(21, 21, 21);
  transform: translate(0, 13px);
}
